<ion-view hide-back-button="false" title="{{almacenesReEg.bodega.bodega}} - Egresos" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">
            <div class="list">
                <div class="item item-toggle">
                    Filtrar resultados:
                    <label class="toggle toggle-assertive">
                        <input ng-model="almacenesReEg.filtro" type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item" ng-if="almacenesReEg.filtro">
                    <div class="row">
                        <div class="col">
                            <label>
                                <span class="input-label">Número de Orden:</span>
                                <input ng-model="almacenesReEg.filtros.orden" type="text" placeholder="Número de Orden">
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                <span class="input-label">Trabajador:</span>
                                <input ng-model="almacenesReEg.filtros.trabajador" type="text" placeholder="Trabajador">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="list">
                <div class="item item-divider">
                    <div class="row">
                        <div class="col">Número de Orden</div>
                        <div class="col">Trabajador</div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="item" ng-repeat="egreso in almacenesReEg.egresos | filter: {orden: almacenesReEg.filtros.orden, trabajador: almacenesReEg.filtros.trabajador}" ng-click="almacenesReEg.abrirModalMovimientos(egreso, almacenesReEg.bodega.idBodega )">
                    <div class="row" >
                        <div class="col">{{egreso.orden}}</div>
                        <div class="col">{{egreso.trabajador}}</div>
                        <div class="col">
                            <button class="button button-small button-balanced" ng-click="almacenesReEg.abrirModalMovimientos(egreso, almacenesReEg.bodega.idBodega )">
                                Detalles
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item" ng-hide="(almacenesReEg.egresos | filter: {orden: almacenesReEg.filtros.orden, trabajador: almacenesReEg.filtros.trabajador}).length">
                    <div class="row">
                        <div class="col">No se encontraron egresos</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
