<ion-view hide-back-button="false" title="{{almacenesReTo.bodega.bodega}} - Movimientos" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">

            <div class="list">
                <div class="item item-divider">
                    <div class="row">
                        <div class="col">Fecha</div>
                        <div class="col">Codigo</div>
                        <div class="col">Producto</div>
                        <div class="col">Cantidad</div>
                    </div>
                </div>
                <div class="item">
                    <div class="row" ng-repeat="movimiento in almacenesReTo.movimientos">
                        <div class="col">{{movimiento.fecha}}</div>
                        <div class="col">{{movimiento.codigo}}</div>
                        <div class="col">{{movimiento.nombreProducto}}</div>
                        <div class="col">{{movimiento.cantidad}}</div>
                    </div>

                </div>
             

            </div>
        </div>
    </ion-content>
</ion-view>
