<ion-view hide-back-button="false" title="Nuevo Almacen" hide-nav-bar="false">
    <ion-content>
        <div class="padding">
            <form name="formRerAlmacen" ng-submit="almacenesRe.registrar(almacenesRe.nombre, formRerAlmacen.$valid)">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nombre de su nuevo Almacen</span>
                        <input type="text" placeholder="Nombre de su nuevo Almacen" ng-model="almacenesRe.nombre" name="nombre" ng-minlength="3" required>
                    </label>
                    <div ng-messages="formRerAlmacen.nombre.$error" style="color:maroon" role="alert" ng-show="formRerAlmacen.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="minlength">Debe contener minimo 3 caracteres</div>
                    </div>
                </div>
                <button class="button button-block button-positive" type="submit" ng-click="formRerAlmacen.$setSubmitted()">
                    Registrar
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
