<ion-view hide-back-button="false" title="{{almacenesDe.bodega.bodega}}" hide-nav-bar="false">
    <ion-content class="has-header">
               <button class="button button-block button-assertive" ui-sref="app.almacenesEliminar({id: 1})">
            Eliminar
        </button>
        <div class="padding">

            <div class="list">
                <div class="item item-divider">
                   Existencias
                </div>
                <div class="item">
                    <h2>Producto #1 </h2>
                    <p>Lorem Ipsum</p>
                   
                </div>
                <div class="item">
                    <h2>Producto #2</h2>
                    <p>Lorem Ipsum</p>
                    
                </div>
                <div class="item">
                    <h2>Producto #3</h2>
                    <p>Lorem Ipsum</p>
                  
                </div>
                <div class="item">
                    <h2>Producto #4</h2>
                    <p>Lorem Ipsum</p>
                 
                </div>
              
            </div>
        </div>
    </ion-content>
</ion-view>

