<ion-view hide-back-button="true" title="Almacenes" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        Almacenes
    </ion-nav-title>
    <ion-content class="has-header">
        <div class="padding">
        <button class="button button-block  button-balanced" ui-sref="app.almacenesRegistro">
            Nuevo Almacen
        </button>
            <div class="list">
                <label class="item item-input item-select">
                <div class="input-label">
                    Almacen:
                </div>
                <select ng-model="almacenes.almacenElegido" >
                    <option ng-repeat="almacen in almacenes.listaAlmacenes" value="{{$index}}">{{almacen.bodega}}</option> 
                </select>
                </label>
            </div>
            <button ng-disabled="!almacenes.listaAlmacenes[almacenes.almacenElegido]" class="button button-block button-positive" ui-sref="app.almacenesDetalles({id: almacenes.listaAlmacenes[almacenes.almacenElegido].idBodega, nombre: almacenes.listaAlmacenes[almacenes.almacenElegido].bodega})">
                Ver Almacen
            </button>
            <button ng-disabled="!almacenes.listaAlmacenes[almacenes.almacenElegido]" class="button button-block button-energized" ui-sref="app.almacenesReporteTodo({id: almacenes.listaAlmacenes[almacenes.almacenElegido].idBodega, nombre: almacenes.listaAlmacenes[almacenes.almacenElegido].bodega})">
                Movimientos
            </button>
            <button ng-disabled="!almacenes.listaAlmacenes[almacenes.almacenElegido]" class="button button-block button-energized" ui-sref="app.almacenesReporteIngresos({id: almacenes.listaAlmacenes[almacenes.almacenElegido].idBodega, nombre: almacenes.listaAlmacenes[almacenes.almacenElegido].bodega})">
                Ingresos
            </button>
            <button ng-disabled="!almacenes.listaAlmacenes[almacenes.almacenElegido]" class="button button-block button-energized" ui-sref="app.almacenesReporteEgresos({id: almacenes.listaAlmacenes[almacenes.almacenElegido].idBodega, nombre: almacenes.listaAlmacenes[almacenes.almacenElegido].bodega})">
                Egresos
            </button>
        </div>
    </ion-content>
</ion-view>
