<ion-view hide-back-button="false" title="{{almacenesReEg.bodega.bodega}} - Egresos" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">

            <div class="list">
                <div class="item item-divider">
                    <div class="row">
                        <div class="col">Orden #</div>
                        <div class="col">Trabajdor</div>
                    </div>
                </div>
                <div class="item">
                    <div class="row" ng-repeat="egreso in almacenesReEg.egresos">
                        <div class="col">{{egreso.orden}}</div>
                        <div class="col">{{egreso.trabajador}}</div>
                    </div>

                </div>
             

            </div>
        </div>
    </ion-content>
</ion-view>
