<ion-view hide-back-button="true" title="Listado de Productos" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        Listado de Productos
    </ion-nav-title>
    <ion-content class="has-header">
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="app.productosRegistro">
                Nuevo Producto
            </button>
            <div class="list">
                <div class="item item-divider">
                    <div class="row">
                        <div class="col">Codigo</div>
                        <div class="col">Nombre</div>
                        <div class="col desaparecer">Ultimo precio de Compra</div>
                        <div class="col"></div>
                        
                    </div>
                </div>
                <div class="item" ng-repeat="producto in productos.productos">
                    <div class="row" >
                        <div class="col">{{producto.codigo}}</div>
                        <div class="col">{{producto.nombreProducto}}</div>
                        <div class="col" ng-show="producto.ultimoPrecio">{{producto.ultimoPrecio | currency }}</div>
                        <div class="col" ng-hide="producto.ultimoPrecio">N/A</div>                        
                        <div class="col">
                            <button class="button button-small button-balanced" ng-click="productos.abrirModal(producto, $index)">
                                Detalles
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item" ng-hide="productos.productos.length">

                     <div class="row">
                        <div class="col">No se encontraron productos</div>
                    </div>
                
                </div>
            </div>
        </div>
    </ion-content>
  

</ion-view>




