<ion-view hide-back-button="false" title="Proveedores" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="app.proveedoresRegistro">
                Nuevo Proveedor
            </button>
            <div class="list">
                <div class="item" ng-repeat="proveedor in proveedores.proveedores">
                    <h2>{{proveedor.nombreProveedor}}</h2>
                    <p>{{proveedor.descripcion}}</p>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
