<ion-view hide-back-button="true" title="Nuevo Movimiento" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        Nuevo Movimiento
    </ion-nav-title>
    <ion-content class="has-header">
        <div class="padding">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Almacen:
                    </div>
                    <select ng-model="registro.almacenElegido" >
                        <option ng-repeat="almacen in registro.listaAlmacenes" value="{{$index}}">{{almacen.bodega}}</option> 
                    </select>
                </label>
            </div>
            <button ng-disabled="!registro.listaAlmacenes[registro.almacenElegido]" class="button button-block button-energized" ui-sref="app.registroIngreso({id: registro.listaAlmacenes[registro.almacenElegido].idBodega, nombre: registro.listaAlmacenes[registro.almacenElegido].bodega})">
                Ingreso
            </button>
            <button ng-disabled="!registro.listaAlmacenes[registro.almacenElegido]" class="button button-block button-energized" ui-sref="app.registroEgreso({id: registro.listaAlmacenes[registro.almacenElegido].idBodega, nombre: registro.listaAlmacenes[registro.almacenElegido].bodega})">
                Egreso
            </button>
        </div>
    </ion-content>
</ion-view>
