<ion-view hide-back-button="false" title="Nuevo Ingreso Almacen X" hide-nav-bar="false">
    <ion-content>
        <div class="padding">
            <div class="list">
                 <div class="item item-divider">
                    Datos de Ingreso
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Proveedor
                    </div>
                    <select>
                        <option>Antonio</option>
                        <option>pepito</option>
                        <option>Petronilla</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Tipo de documento
                    </div>
                    <select>
                           <option>1</option>
                        <option>2</option>
                        <option>3</option> 
                    </select>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">N# de documento</span>
                    <input type="text" placeholder="N# de documento">
                </label>
                <div class="item item-divider">
                    Producto #1
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Producto
                    </div>
                    <select>
                          <option>Antonio</option>
                        <option>pepito</option>
                        <option>Petronilla</option>
                    
                    </select>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Cantidad</span>
                    <input type="text" placeholder="Cantidad">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Precio de Compra</span>
                    <input type="text" placeholder="Precio de Compra">
                </label>
                 <div class="item item-divider">
                    Producto #2
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Producto
                    </div>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option> 
                    </select>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Cantidad</span>
                    <input type="text" placeholder="Cantidad">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Precio de Compra</span>
                    <input type="text" placeholder="Precio de Compra">
                </label>
            </div>
            <button class="button button-block button-positive">
                Registrar
            </button>
            <button class="button button-block button-positive" ui-sref="app.usuarios.listado">
                Volver
            </button>
        </div>
    </ion-content>
</ion-view>