<ion-view hide-back-button="false" title="{{registroEgreso.bodega.bodega}} - Nueva orden de Egreso" hide-nav-bar="false">
    <ion-content>
        <div class="padding">
            <form name="formEgreso" ng-submit="registroEgreso.registrar(registroEgreso.registro, formEgreso.$valid)">
                <div class="list">
                    <div class="item item-divider">
                        Datos de Egreso
                    </div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Trabajador
                        </div>
                        <select ng-model="registroEgreso.registro.trabajadores_idTrabajador" name="trabajador" required>
                            <option value="{{trabajador.idTrabajador}}" ng-repeat="trabajador in trabajadoresFiltrados = (registroEgreso.trabajadores | filter: {estadoT: 1})">{{trabajador.nombre}}</option>
                        </select>
                    </label>
                    <div ng-messages="formEgreso.trabajador.$error" style="color:maroon" role="alert" ng-show="formEgreso.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">N# de orden de compra</span>
                        <input ng-model="registroEgreso.registro.orden" type="tel" placeholder="N# de orden de compra" name="numeroOrden" required>
                    </label>  
                    <div ng-messages="formEgreso.numeroOrden.$error" style="color:maroon" role="alert" ng-show="formEgreso.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                    <br>

                </div>
                <div  class="list"  ng-repeat="producto in registroEgreso.registro.egresos" ng-form="filaProducto">
                    <div class="item item-divider">
                        Producto #{{$index + 1}} <div ng-show="registroEgreso.registro.egresos.length > 1" style="float: right" class="button button-small button-assertive" ng-click="registroEgreso.registro.egresos.splice($index, 1)">X</div>
                    </div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Producto
                        </div>
                        <select ng-model="producto.productos_idProducto" name="nombre" required>
                            <option value="{{producto.idProducto}}" ng-repeat="producto in registroEgreso.productos">{{producto.nombreProducto}} ({{producto.existencia}})</option>
                        </select>
                    </label>

                    <div ng-messages="filaProducto.nombre.$error" style="color:maroon" role="alert" ng-show="formEgreso.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Cantidad</span>
                        <input ng-model="producto.cantidad" type="tel" name="cantidad" placeholder="Cantidad" required ng-pattern="/^[0-9]*$/">
                    </label>
                    <div ng-messages="filaProducto.cantidad.$error" style="color:maroon" role="alert" ng-show="formEgreso.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="pattern">Debe ser un número válido.</div>
                    </div>     
                    <div style="color:maroon" ng-show="registroEgreso.calcularDiferencia(producto.cantidad,producto.productos_idProducto)">
                        ¡Cuidado! Estas tratando de egresar una cantidad mayor a la ultima existencia conocida.
                    
                    </div>
                </div>
                <input class="button button-block button-energized" type="button" ng-click="registroEgreso.registro.egresos.push({tipo: 'egreso', bodegas_idBodega: registroEgreso.bodega.idBodega, usuarios_idUsuario:  registroEgreso.userDatos.idUsuario})" value="Agregar Producto">
                <button class="button button-block button-positive" type="submit" ng-click="formEgreso.$setSubmitted()" ng-disabled="registroEgreso.deshabilitar">
                    Registrar
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
