<ion-content class="has-header">
<div class="padding">
    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Almacen
            </div>
            <select>
                <option>#1</option>
                <option>#2</option>
                <option>#3</option> 
            </select>
        </label>
    </div>
    <button class="button button-block button-energized" ui-sref="app.almacenesReporteIngresos({id: 1})">
        Ingreso
    </button>
    <button class="button button-block button-energized" ui-sref="app.almacenesReporteEgresos({id: 1})">
        Egreso
    </button>
        </div>
</ion-content>
