<ion-view hide-back-button="false" title="{{registroEgreso.bodega.bodega}} - Nueva orden de Egreso" hide-nav-bar="false">
    <ion-content>
        <div class="padding">
            <form name="formEgreso" ng-submit="registroEgreso.registrar(registroEgreso.registro, formEgreso.$valid)">
                <div class="list">
                    <div class="item item-divider">
                        Datos de Egreso
                    </div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Trabajador
                        </div>
                        <select ng-model="registroEgreso.registro.trabajadores_idTrabajador" name="trabajador" required>
                            <option value="{{trabajador.idTrabajador}}" ng-repeat="trabajador in registroEgreso.trabajadores">{{trabajador.nombre}}</option>
                        </select>
                    </label>
                    <div ng-messages="formEgreso.trabajador.$error" style="color:maroon" role="alert" ng-show="formEgreso.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">N# de orden de compra</span>
                        <input ng-model="registroEgreso.registro.orden" type="text" placeholder="N# de orden de compra" name="numeroOrden" required>
                    </label>  
                    <div ng-messages="formEgreso.numeroOrden.$error" style="color:maroon" role="alert" ng-show="formEgreso.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                    <div class="item item-divider" ng-repeat-start="producto in registroEgreso.registro.egresos">
                        Producto #{{$index + 1}}
                    </div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Producto
                        </div>
                        <select ng-model="producto.productos_idProducto" required>
                            <option value="{{producto.idProducto}}" ng-repeat="producto in registroEgreso.productos">{{producto.nombreProducto}}</option>
                        </select>
                    </label>
                    <label class="item item-input item-floating-label" ng-repeat-end>
                        <span class="input-label">Cantidad</span>
                        <input ng-model="producto.cantidad" type="text" placeholder="Cantidad">
                    </label>
                    
                    <input class="button button-block button-energized" type="button" ng-click="registroEgreso.registro.egresos.push({tipo: 'egreso', bodegas_idBodega: registroEgreso.bodega.idBodega, usuarios_idUsuario:  registroEgreso.userDatos.idUsuario})" value="Agregar Producto">
                       
                   
                </div>
                <button class="button button-block button-positive" type="submit" ng-click="formEgreso.$setSubmitted()" ng-disabled="registroEgreso.deshabilitar">
                    Registrar
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
