<ion-view hide-back-button="false" title="Reportes" hide-nav-bar="false">
    <ion-content class="has-header">
        
            <div class="padding">
                <button class="button button-block button-positive" ui-sref="app.reportes.tipo({tipo: 'completo'})">
                Total
            </button>
                <button class="button button-block button-positive" ui-sref="app.reportes.tipo({tipo: 'ingresos'})">
                Ingresos
            </button>
                <button class="button button-block button-positive" ui-sref="app.reportes.tipo({tipo: 'egresos'})">
                Egresos
            </button>
            </div>
        <ion-nav-view name="tipoReporte">
        </ion-nav-view>
    </ion-content>
</ion-view>
