<ion-view hide-back-button="false" title="Reportes" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="app.reportesTipo({tipo: 'completo'})">
                Total
            </button>
            <button class="button button-block button-positive" ui-sref="app.reportesTipo({tipo: 'ingresos'})">
                Ingresos
            </button>
            <button class="button button-block button-positive" ui-sref="app.reportesTipo({tipo: 'egresos'})">
                Egresos
            </button>
        </div>
    </ion-content>
</ion-view>