<ion-view hide-back-button="false" title="Reset Password" hide-nav-bar="false" >
  <ion-content class="has-header">
  
	<form name="resetForm" ng-submit="doResetEmail(correo, resetForm.correo.$valid)" novalidate>
	  	<div class="list">
		  
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="email" ng-model="correo" placeholder="Username" name="correo" required>
		  </label>
            
        
            <div ng-messages="resetForm.correo.$error" style="color:maroon" role="alert" ng-show="resetForm.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="email">Debe ser un email válido.</div>
                    </div>

		  
		</div>
		<div class="padding">
			<button type="submit" class="button button-block button-calm">Reset</button>
		</div>
	 </form>
		
	
  </ion-content>
</ion-view>