<ion-view hide-back-button="false" title="Trabajadores" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="app.usuariosRegistro">
                Nuevo Trabajador
            </button>
            <div class="list">
                <div class="item ">
                    <h2>Ozzy Osbourne</h2>
                    <p>Lorem Ipsum</p>
                    
                </div>
                <div class="item ">
                    <h2>Ozzy Osbourne</h2>
                    <p>Lorem Ipsum</p>
                    
                </div>
                <div class="item ">
                    <h2>Tommy Iommi</h2>
                    <p>Lorem Ipsum</p>
                   
                </div>
                <div class="item ">
                    <h2>Bill Ward</h2>
                    <p>Lorem Ipsum</p>
                   
                </div>
                <div class="item ">
                    <h2>Geezer Buttler</h2>
                    <p>Lorem Ipsum</p>
                  
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
