<ion-view hide-back-button="false" title="Nuevo Trabajador" hide-nav-bar="false">
    <ion-content>
        <div class="padding">
            <form name="formRegTrabaj" ng-submit="trabajadoresRe.registrar(trabajadoresRe.trabajador, formRegTrabaj.$valid)">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nombre Completo</span>
                        <input type="text" placeholder="Nombre Completo" ng-model="trabajadoresRe.trabajador.nombre" name="nombre" ng-minlength="3" required>
                    </label>
                    <div ng-messages="formRegTrabaj.nombre.$error" style="color:maroon" role="alert" ng-show="formRegTrabaj.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="minlength">Debe contener minimo 3 caracteres</div>
                    </div>
                </div>
                <input class="button button-block button-positive" type="submit" value="Registrar" ng-click="formRegTrabaj.$setSubmitted()">
                    
               
            </form>
        </div>
    </ion-content>
</ion-view>
