<ion-view hide-back-button="false" title="Usuarios" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="app.usuariosRegistro">
                Nuevo Usuario
            </button>
            <div class="list">
                <div class="item item-divider">
                    Admin
                </div>
                <div class="item">
                    <h2>Ronnie James Dio</h2>
                    <p>Lorem Ipsum</p>
                </div>
                <div class="item item-divider">
                    Usuarios
                </div>
                <div class="item item-toggle">
                    <h2>Ozzy Osbourne</h2>
                    <p>Lorem Ipsum</p>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle">
                    <h2>Ozzy Osbourne</h2>
                    <p>Lorem Ipsum</p>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle">
                    <h2>Tommy Iommi</h2>
                    <p>Lorem Ipsum</p>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle">
                    <h2>Bill Ward</h2>
                    <p>Lorem Ipsum</p>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle">
                    <h2>Geezer Buttler</h2>
                    <p>Lorem Ipsum</p>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
