<ion-view hide-back-button="false" title="Usuarios" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">
            <div class="list">

                <div class="item item-divider">
                    Admin
                </div>


                <div class="item item-button-left item-toggle" href="#">

                    <h2>Ronnie James Dio</h2>
                    <p>Lorem Ipsum</p>
                    <button class="button button-positive">
                      <i class="icon ion-ios-settings-strong"></i>
                    </button>
                    <label class="toggle">
                       <input type="checkbox">
                       <div class="track">
                         <div class="handle"></div>
                       </div>
                    </label>
                </div>


                <div class="item item-divider">
                    Usuarios
                </div>


                <div class="item item-button-right" href="#">

                    <h2>Ozzy Osbourne</h2>
                    <p>Lorem Ipsum</p>
                    <button class="button button-positive">
                      <i class="icon ion-ios-telephone"></i>
                    </button>
                </div>




            </div>
        </div>
    </ion-content>
</ion-view>
