<ion-view hide-back-button="false" title="Usuarios" hide-nav-bar="false">
    <ion-content class="has-header">
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="app.usuariosRegistro">
                Nuevo Usuario
            </button>
            <div class="list">
                <div class="item item-divider">
                    Administrador
                </div>
                <div class="item" ng-repeat="usuario in usuarios.usuarios | filter: {tipoUser: 'Admin'}">
                    <h2>{{usuario.nombre}}</h2>
                    <p>{{usuario.email}}</p>
                </div>
                <div class="item item-divider">
                    Asistente
                </div>
                <div class="item item-toggle"  ng-repeat="usuario in usuarios.usuarios | filter: {tipoUser: 'User'}">
                    <h2>{{usuario.nombre}}</h2>
                    <p>{{usuario.email}}</p>
                    <label class="toggle">
                        <input type="checkbox" ng-model="usuario.estado" ng-true-value="'1'" ng-false-value="'0'">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
