<ion-view hide-back-button="false" title="Nuevo Usuario" hide-nav-bar="false">
    <ion-content>
        <div class="padding">
            <form name="formRegUser" ng-submit="usuariosRe.registrar(usuariosRe.usuario, formRegUser.$valid)">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nombre Completo</span>
                        <input type="text" placeholder="Nombre Completo" ng-model="usuariosRe.usuario.nombre" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="Email" ng-model="usuariosRe.usuario.email" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Clave</span>
                        <input type="password" placeholder="Clave" ng-model="usuariosRe.usuario.clave" required>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Tipo
                        </div>
                        <select ng-model="usuariosRe.usuario.tipoUser" required>
                            <option value="Admin">Administrador</option>
                            <option value="User">Asistente</option>
                        </select>
                    </label>
                </div>
                <button class="button button-block button-positive">
                    Registrar
                </button>
                <button class="button button-block button-positive" ui-sref="app.usuarios">
                    Volver
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
