<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Movimientos del Egreso:</h1> <button class="button button-primary" ng-click="almacenesReEg.cerrarModalMovimientos()">Cerrar</button>
    </ion-header-bar>
    <ion-content>

        <div class="list">
          
            <div class="item item-divider">
                <div class="row">
                    <div class="col desaparecer">Fecha</div>
                    <div class="col desaparecer">Código</div>
                    <div class="col">Producto</div>
                    <div class="col">Cantidad</div>
                    
                

                </div>
                </div>
                <div class="item" ng-repeat="movimiento in almacenesReEg.movimientos" ng-click="almacenesReEg.abrirModalMovimiento(movimiento)">
                    <div class="row">
                        <div class="col desaparecer">{{almacenesReEg.crearFecha(movimiento.fecha) | date: "dd/MM/yyyy"}}</div>
                        <div class="col desaparecer">{{movimiento.codigo}}</div>
                        <div class="col">{{movimiento.nombreProducto}}</div>
                        <div class="col">{{movimiento.cantidad}}</div>
                    </div>

                </div>


            </div>

        <button class="button button-block button-assertive" ng-click="almacenesReEg.eliminarOrden(almacenesReEg.ordenEgreso.idEgreso, almacenesReEg.indiceOrden)">
            Eliminar
        </button>
    </ion-content>
</ion-modal-view>
