<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Detalles del movimiento:</h1> <button class="button button-primary" ng-click="almacenesReEg.cerrarModalMovimiento()">Cerrar</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <div class="row">
                    <div class="col">Fecha</div>
                    <div class="col">Hora</div>
                    <div class="col">Código</div>
                    <div class="col">Producto</div>
                    <div class="col">Cantidad</div>
                </div>
            </div>
            <div class="item" >
                <div class="row">
                    <div class="col">{{almacenesReEg.crearFecha(almacenesReEg.movimiento.fecha) | date: "dd/MM/yyyy"}}</div>
                    <div class="col">{{almacenesReEg.crearFecha(almacenesReEg.movimiento.fecha) | date: "hh:mm a"}}</div>
                    <div class="col">{{almacenesReEg.movimiento.codigo}}</div>
                    <div class="col">{{almacenesReEg.movimiento.nombreProducto}}</div>
                    <div class="col">{{almacenesReEg.movimiento.cantidad}}</div>
                </div>
            </div>
            <!-- DETALLES ESPECIFICOS DEL EGRESO -->
            <div class="item item-divider">
                <div class="row">
                    <div class="col">Orden</div>
                    <div class="col">Trabajador</div>
                 
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col">{{almacenesReEg.movimiento.orden}}</div>
                    <div class="col">{{almacenesReEg.movimiento.trabajador}}</div>

                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
