<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Eliminar almacén</h1> <button class="button button-primary" ng-click="almacenesDe.cerrarModal()">Cerrar</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
        ¿Está seguro de eliminar este almacen? ¡Se pérdera toda la información relacionada!
       
        <button class="button button-block button-assertive" ng-click="almacenesDe.eliminar(almacenesDe.bodega.idBodega)">
            Eliminar
        </button>
            </div>

    </ion-content>
</ion-modal-view>
