<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Detalles de Producto:</h1> <button class="button button-primary" ng-click="productos.cerrarModal()" ng-disabled="productosRe.deshabilitar">Cerrar</button>
    </ion-header-bar>
    <ion-content>

        <div class="card">
            <div class="item item-divider">
                {{productos.datosProducto.nombreProducto}}
            </div>
            <div class="item item-text-wrap">
                {{productos.datosProducto.descripcion}}
            </div>
            <div class="item item-divider">
                {{productos.datosProducto.codigo}}
            </div>
        </div>
        
        <button class="button button-block button-assertive" ng-click="productos.eliminar(productos.datosProducto.idProducto, productos.indiceProducto)" ng-disabled="productosRe.deshabilitar">
            Eliminar
        </button>

    </ion-content>
</ion-modal-view>
